body {
    background-color: rgb(153, 153, 153);
}
.wrapper {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: 100vh auto;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 500px;;
    width: 425px;
    background-color: gray;
    border: 10px solid black;
    border-radius: 10px;
}
.calc-display {
    grid-column: 1 / span 4;
    grid-row: 1;
}
#delete {
    grid-column: 1 / span 2;
    grid-row: 2;
}
#clear {
    grid-column: 3 / span 2;
    grid-row: 2;
}
.button {
    background-color: gray;
}

