body {
    background-color: rgb(206, 220, 233);
}
.wrapper {
    position: relative;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 600px;
    width: 500px;
    background-color: gray;
    border: 10px solid black;
    border-radius: 20px;


  position: absolute;
  top: 50%;
  left: 50%;

  margin: 100px 0 0 -213px;
}
.calc-display {
    grid-column: 1 / span 4;
    grid-row: 1;
}
#delete {
    grid-column: 1 / span 2;
    grid-row: 2;
}
#clear {
    grid-column: 3 / span 2;
    grid-row: 2;
}
.button {
    background-color: gray;
    background-color: gray;
    border: 5px solid black;
    margin: 8px;
    border-radius: 10px;
    font-size: larger;
    font
}

